.titulo, .titulo2 {
    color: #531804;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.titulo h2, .titulo2 h3 {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 600;
}

.conteudo {
    background-color: transparent;
    width: 60%;
    border: 1px solid #531804;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.botao2 {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao2 button {
    background-color: #531804;
    color: #F5EADD;
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    width: 20%;
    border: none;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}

.adicionar {
    height: 15px;
    width: 15px;
}

.endereco button {
    background-color: #531804;
    color: #F5EADD;
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    border-radius: 100px;
    border: none;
    cursor: pointer;   
}

.endereco {
    background-color:#531804;
    height: 50px;
    width: 35%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* sombra */
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.controle-form {
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
}

.controle-form label, input, select {
    color: #531804;
    display: flex;
    font-family: 'Crimson Text';
    font-size: 18px;
    margin-left: 40px;
}

.controle-form input, select {
    background-color: rgba(245, 234, 221, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
} 

.linha {
    display: flex;
    gap: 20px;
    margin-top: 15px;

}

.linha div {
    flex: 1;
}

.data-nascimento {
    display: flex;
}

.data-nascimento select{
    width: 100%;
    margin-right: 40px;
    margin-top: 5px;
}