.titulo {
    display: flex;
    color: #531804;
    margin: 3% 0;
    margin-left: 3%;
}

.titulo h2 {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 600;
}

.conteudo {
    display: flex;
    justify-content: center;
}

.carrinho-info {
    display: flex;
    background-color: transparent;
    width: 60%;
    border: 1px solid #531804;
    border-radius: 10px;
    margin-bottom: 5%;
    height: 230px;
}

.imagem img {
    width: 240px;
    height: 200px;
}

.descricao {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.descricao h2 {
    margin-bottom: 5%;
}

.descricao p{
    text-align: justify;
}

.valor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    width: 135px;
    height: 25px;
    border: 1px dashed #531804;
    padding: 4px;
    margin-top: 30px;
}

.valor img {
    width: 18px;
    height: 18px;
}

.select {
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
}

.select select {
    color: #F5EADD;
    background-color: #531804;
    width: 144px;
    height: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.resumo {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    border: 1px solid #531804;
    border-radius: 10px;
    margin-bottom: 5%;
    width: 400px;
    height: 735px;
}

.resumo h2 {
    margin-top: 15%;
}

.retirar-local {
    display: flex;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid #531804;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.retirar-local input {
    margin-right: 10px;
    margin-left: 10px;
}

.linha {
    width: 340px;
    height: 0;
    border: 1px solid #F5EADD;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.endereco {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;
    height: 85px;
    border: 1px solid #531804;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-top: 18px;
    padding-left: 10px;
}

.endereco p {
    font-family: 'Rubik';
}

.rua {
    font-size: 12px;
    font-weight: 300;
}

.cidade {
    font-weight: 400;
}

.produto-preco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 8%;
}

.quantidade {
    font-family: 'Rubik';
    font-weight: 300;
}

.frete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 15%;
    margin-top: 5%;
}

.frete1 {
    font-family: 'Rubik';
    font-weight: 300;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 15%;
    margin-top: 5%;
}

.linha2 {
    width: 340px;
    height: 0;
    border: 1px dashed #F5EADD;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.botao-pagamento {
    width: 350px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border-radius: 10px;
    border: none;
    background-color: #531804;
    color: #F5EADD;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}