.conteudo {
    /* background-color: blueviolet; */
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.titulo {
    color: #531804;
    text-align: center;
    margin-top: 25px;
    font-family: 'Rubik';

}

.titulo h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.entrar {
    background-color: transparent;
    margin-top: 5vh;
    width: 100%;
    padding: 30px 20px;
    border: 1px solid #531804;
    border-radius: 10px;
    margin-bottom: 80px;
}

.botao-verificacao button {
    background-color: #531804;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: #F5EADD;
    cursor: pointer;
    border: none;
}

.verificacao {
    height: 25px;
    width: 25px;
    margin-right: 6px;
}

.botao-verificacao {
    height: 50px;
    background-color: #531804;
    border: none;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* sombra */
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcao:hover {
    transform: scale(1.05);
    /* aumenta 5% */
}