.controle-form{
    padding-bottom: 20px ;
    margin-bottom: 10px;
    position: relative;
}

.controle-form label{
    display: flex;
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: 'Crimson Text';
    font-size: 18px;
}

.controle-form input, textarea{
    background-color: rgba(245, 234, 221, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.controle-form textarea{
    resize:none;
}

.botao2{
    width: 100%;
    display: inline-flex;
    justify-content: center;  
    margin-bottom: 25px;  
}

.botao2 a{
    background-color:  #531804;;
    color: #F5EADD;
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 400;
    width: 20%;
    text-align: center;
    text-decoration: none; /* <- remove o traço embaixo */
    border: none;
    padding: 10px;
    border-radius: 100px;
    cursor:pointer;
    display: inline-block; /* <- faz o <a> se comportar como botão */
}

.conteudo {
    /* background-color: blueviolet; */
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo {
    color: #531804;
    font-family: 'Rubik';
    text-align: center;
}

.titulo h2{
    font-size: 26px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 50px;
    letter-spacing: 0.05em;
}

.politica {
    margin-top: 25px;
    font-family: 'Crimson Text';
}

